<div class="notebook">
  <h1>{{notebook.title}}</h1>
  <img src="{{notebook.img}}" alt="{{notebook.title}}" class="notebook-img">
  <h6>{{notebook.description}}</h6>
  <p class="price big">{{notebook.price}}</p>
</div>